/*全局样式*/
html, body, p, h1, h2, h3, h4, h5, h6, form, input, textarea, select, button, fieldset, legend, img, ul, ol, li, dl, dt, dd, th, td, pre, blockquote {
	margin: 0;
	padding: 0
}
html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased
}
body {
	background: #f0f0f0;
	color: #000;
}
body, button, input, select, textarea, h2, h3, h4, h5, h6 {
	font: 14px 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial;
	-webkit-font-smoothing: antialiased;
}
/*loading动画*/
.loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 333;
}
.sk-chasing-dots {
	margin: 70% auto;
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;
	-webkit-animation: sk-chasingDotsRotate 2s infinite linear;
	animation: sk-chasingDotsRotate 2s infinite linear; }
.sk-chasing-dots .sk-child {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #3FECE4;
	border-radius: 100%;
	-webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
	animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
.sk-chasing-dots .sk-dot2 {
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1s;
	animation-delay: -1s; }

@-webkit-keyframes sk-chasingDotsRotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
	0%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0); }
	50% {
		-webkit-transform: scale(1);
		transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
	0%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0); }
	50% {
		-webkit-transform: scale(1);
		transform: scale(1); }
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform:scale(1);
		transform:scale(1)
	}
	50% {
		-webkit-transform:scale(1.5);
		transform:scale(1.5)
	}
	100% {
		-webkit-transform:scale(1);
		transform:scale(1)
	}
}@keyframes pulse {
	 0% {
		 -webkit-transform:scale(1);
		 -ms-transform:scale(1);
		 transform:scale(1)
	 }
	 50% {
		 -webkit-transform:scale(1.5);
		 -ms-transform:scale(1.5);
		 transform:scale(1.5)
	 }
	 100% {
		 -webkit-transform:scale(1) translate(0,0);
		 -ms-transform:scale(1) translate(0,0);
		 transform:scale(1) translate(0,0);

	 }
 }
img, fieldset {
	border: 0;
	vertical-align: middle
}
div{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input {
	padding: 0;
	margin: 0;
	outline: none;
}
a {
	text-decoration: none;
	color: #4c4c4c;
}
a:hover {
	text-decoration: none;
}
ul, li, ol {
	list-style: none
}
img {
	max-width: 100%;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
	overflow: hidden
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	zoom: 1;
}
.l {
	float: left;
}
.r {
	float: right;
}
label{  font-weight: 400;}
 @media only screen and (min-width: 320px){
     html {
         font-size: 62.5% !important;
     }
 }
 @media only screen and (min-width: 640px){
     html {
         font-size: 125% !important;
     }
 }
 @media only screen and (min-width: 750px){
     html {
         font-size: 150% !important;
     }
 }
 @media only screen and (min-width: 1242px){
     html {
         font-size: 187.5% !important;
     }
 }
@font-face {
	font-family: 'iconfont';
	src: url('../icon/iconfont.eot'); /* IE9*/
	src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../icon/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
	font-family:"iconfont";
	font-size: 20px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
}

/*===*===*/
.containt{ width: 100%;height: 100%;box-sizing: border-box;position: relative;}
.tipBox{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	display: none;
}
.tipBox div{
	width: 100%;
	height: 100%;
	display:  flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.tipBox label{
	padding: 5px 8px;
	display: inline-block;
	background: #393838;
	border-radius: 8px;
	line-height: 1.5;
	font-size: 1em;
	color: #ffffff;
	font-weight: 500;
	max-width: 80vw;
	text-align: center;
}

/*banner*/
.banner img{
	width:100%;
	height:100%;
}

/*center*/
.center{
	width:100%;
	background: url(../img/repeat.png) repeat center center;
	position: relative;
	padding-bottom: 2rem;
}

.center .content{
    display:block;
    width:85%; 
    margin: 0 auto;
    position: relative;
}


.center .content .wheel{
    display:block;
    width:100%;
    position:relative;
    background-image:url(../img/wheel-bg.png);
    background-size:100% 100%;
	z-index: 2;
}

.center .content .wheel canvas.item{
    width:100%;
}

.center .content .wheel img.pointer {
    position: absolute;
    width: 40.5%;
    height: 40.5%;
    left: 29.6%;
    top: 27%;
}

.center .icon{
	width:60%;
}
.center .left1{
    position: absolute;
    left: 1%;
    top: 1%;
}

.center .left2{
	position: absolute;
	left:0;
	top:32%;
}

.center .right1{
	position: absolute;
	right:3%;
	top:3%;
}

.center .right2{
	position: absolute;
	right:0;
	top:50%;
}

.center .content .fre{
	margin-top: -26px;
    width:100%;
	z-index: 1;
}
@media only screen and (min-width: 320px) and (max-width: 374px ) { .center .content .fre{ margin-top: -26px; } }
@media only screen and (min-width: 375px) and (max-width: 413px ) { .center .content .fre{ margin-top: -30px; } }
@media only screen and (min-width: 414px) and (max-width: 640px ) { .center .content .fre{ margin-top: -35px; } }

.center .content .fre img{
	width:100%;
}

.center .content .fre .txt{
	position: relative;
}

.center .content .fre p{
	padding: 3px;
	position: absolute;
	top:46%;
	left: 50%;
	transform: translate(-45%, -51%);
	font-weight: bold;
    color: #881515;
    font-size: 0.85em;
	background-color: #ffffff;
	border-radius: 10px;
}
.center .content .fre p span{
	padding: 0 5px;
	font-size: 1.2em;
}
.center .content .coountdow-box{
	height: 20px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	corlor: #fb7e10;
}
.center .content .coountdow-box .nextTime{
	color:#f69f38;

}
.center .content .coountdow-box .minutes,.center .content .coountdow-box .seconds{
	color: #ffffff;
	background-color: #fb7e10;
	padding: 2px;
	border-radius: 2px;
	width: 15px;
}
.center .content .gotoMyPrize{
	height: 20px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}
.center .content .gotoMyPrize a{
	display: block;
	width: auto;
	padding: 3px 5px;
	background-color: #fdac4c;
	color: #ffffff;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: #ff8836 2px 2px 2px ;
	text-decoration: none;
}

.center .content .wheel .xiao{
    background-image: url(../img/xiao.png);
    width:100%;
    display: block;
    position: relative;
    background-size: 100% 100%;
}
.center .content .wheel .xiao .da{
    background-image: url(../img/da1.png);
    width:100%;
    display: block;
    position: relative;
    background-size: 100% 100%;
    width:100%;
}

/*footer*/
.footer img{
	width:100%;
	heigth:100%;
}


/* myrule 活动规则 */
.myrule{
	height: 20px;
	padding: 10px;
    position: absolute;
    top: 23%;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.myrule span{
	color:#fff;
	padding: 0;
	font-size: 12px;
	line-height: 20px;
}
.myrule i{
	color: #fff;
	font-size: 14px;
	margin-left: 3px;
	vertical-align: sub;
}

.rule{
	font-family: '微软雅黑';
	background-color: #ffeec6;
	border-radius:10px 10px 10px 10px;
}
.rule h4{
	padding:5px;
	color:#742fb9;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin:0;
	letter-spacing: 1px;
}
.rule p{
	padding: 3px 10px 3px 10px;
	margin:0;
	color: #7d2828;
}

.rule .dash{
	margin-left: 6%;
	width:90%;
	height: 0;
	border-bottom: #000000 1px dashed;
}

/* 弹出层 */
.modal-body{
    padding:0;
    position: relative;
    margin-top:35%;
}
.modal-body img{
	width:100%;
}
.modal-body .but5{
	opacity: 0;
    position: absolute;
    top: -2%;
    right: 1%;
    width: 20%;
    height: 20%;
}

.modal-body .gitBox{
	width: 80%;
	position: absolute;
	top: 58%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.modal-body .gitBox #tip{
	font-size: 1em;
	color: #f1b115;
	text-align: center;
	letter-spacing: 2px;
}
.modal-body .gitBox .gitImg{
	text-align: center;
	padding: 5px 0;
}
.modal-body .gitBox .gitImg img{
	width: auto;
	max-height: 100px;
}